<%= render "shared/header" %>

  <div class="title">
    <h1 class="topic-title">
    <%= "------" %><%=@topic.title%><%= "------" %>
    </h1>
  </div>

  <p class="new-post">新規書き込み</p>
  <%= render 'chat_box' %>

  <div class="post">
    <% @posts.each_with_index do |post, i| %>
      <div class="upper-post">
        <div class="post-user">
        <%= i+1 %>. <%= post.user.nickname %>
      </div>
      <div class="post-date">
        <%= post.created_at %>
      </div>
    </div>
    <div class="lower-post">
      <div class="post-content">
        <%= post.name %>:
        <%= post.text %>
      </div>
    </div>
  <% end %>
</div>

<%= render "shared/footer" %>
