<%= render "shared/header" %>
<h1><%= @topic.title %></h1>
<% @posts.each_with_index do |post, i| %>
  <p>
    <%= i + 1 %>. <%= post.name %> : <%= post.text %>
  </p>
<% end %>


<h3>新規書き込み</h3>
<%= form_with model: [@topic,@post], local: true do |f| %>
  <p>タイトル</p>
  <p><%= f.text_field :name %></p>
  <p>アウトプット</p>
  <p><%= f.text_area :text %></p>
  <%= f.submit "投稿する"%>
<% end %>